 @import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    color: #333;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}
body {
    padding: 0 200px;
}
.h1 {
    font-size: 1.8em;
    padding: 1em 0;
}
.wow {
    font-size: 6em;
    font-style: italic;
}